.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  padding-bottom: 32px;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 32px;
}
.freeBox___68Rog {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: bXVk6K6GGqsr */;
}
.freeBox__dIwU6 {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__dIwU6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__dIwU6 > :global(.__wab_flex-container) > *,
.freeBox__dIwU6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dIwU6 > :global(.__wab_flex-container) > picture > img,
.freeBox__dIwU6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dIwU6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dIwU6 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dIwU6 > :global(.__wab_flex-container) > *,
  .freeBox__dIwU6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dIwU6 > :global(.__wab_flex-container) > picture > img,
  .freeBox__dIwU6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__aPghZ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 128px;
  flex-shrink: 0;
}
.freeBox__aPghZ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__aPghZ > :global(.__wab_flex-container) > *,
.freeBox__aPghZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aPghZ > :global(.__wab_flex-container) > picture > img,
.freeBox__aPghZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.iconLink__rnPcT:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__nvVqW {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.freeBox__inJ6 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__dcArZ {
  color: #666666 /* plasmic-token: Rdf3adOtKja5 */;
  font-size: 14px;
}
.root .link__dcArZ:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__wPoS {
  position: relative;
  font-size: 14px;
  color: #666666 /* plasmic-token: Rdf3adOtKja5 */;
}
.link__nOiMn {
  position: relative;
  color: #666666 /* plasmic-token: Rdf3adOtKja5 */;
  font-size: 14px;
}
.root .link__nOiMn:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__dhBHp {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__dhBHp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__dhBHp > :global(.__wab_flex-container) > *,
.freeBox__dhBHp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dhBHp > :global(.__wab_flex-container) > picture > img,
.freeBox__dhBHp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dhBHp {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dhBHp > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dhBHp > :global(.__wab_flex-container) > *,
  .freeBox__dhBHp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dhBHp > :global(.__wab_flex-container) > picture > img,
  .freeBox__dhBHp
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__ablUc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__ablUc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ablUc > :global(.__wab_flex-container) > *,
.freeBox__ablUc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ablUc > :global(.__wab_flex-container) > picture > img,
.freeBox__ablUc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox___7Wv8Q {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__wvGtU {
  font-size: 14px;
  position: relative;
  color: #666666 /* plasmic-token: Rdf3adOtKja5 */;
}
.root .link__wvGtU:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___8KqqJ {
  position: relative;
  color: #666666 /* plasmic-token: Rdf3adOtKja5 */;
  font-size: 14px;
}
.root .link___8KqqJ:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__mo5W8 {
  position: relative;
  color: #666666 /* plasmic-token: Rdf3adOtKja5 */;
  font-size: 14px;
}
.root .link__mo5W8:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__vPmzf {
  position: relative;
  color: #666666 /* plasmic-token: Rdf3adOtKja5 */;
  font-size: 14px;
}
.root .link__vPmzf:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__ytaor {
  position: relative;
  color: #666666 /* plasmic-token: Rdf3adOtKja5 */;
  font-size: 14px;
}
.root .link__ytaor:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__gdDhe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__gdDhe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__gdDhe > :global(.__wab_flex-container) > *,
.freeBox__gdDhe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gdDhe > :global(.__wab_flex-container) > picture > img,
.freeBox__gdDhe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__lyWuo {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__fpAfN {
  position: relative;
  color: #666666 /* plasmic-token: Rdf3adOtKja5 */;
  font-size: 14px;
}
.root .link__fpAfN:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__u3Azv {
  position: relative;
  color: #666666 /* plasmic-token: Rdf3adOtKja5 */;
  font-size: 14px;
}
.root .link__u3Azv:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__pJkgy {
  position: relative;
  color: #666666 /* plasmic-token: Rdf3adOtKja5 */;
  font-size: 14px;
}
.root .link__pJkgy:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__dzYyO {
  position: relative;
  color: #666666 /* plasmic-token: Rdf3adOtKja5 */;
  font-size: 14px;
}
.root .link__dzYyO:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__yMNz3 {
  position: relative;
  color: #666666 /* plasmic-token: Rdf3adOtKja5 */;
  font-size: 14px;
}
.root .link__yMNz3:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox___7LpWy {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox___7LpWy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___7LpWy > :global(.__wab_flex-container) > *,
.freeBox___7LpWy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7LpWy > :global(.__wab_flex-container) > picture > img,
.freeBox___7LpWy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__yxXmf {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__g9XbU {
  position: relative;
  color: #666666 /* plasmic-token: Rdf3adOtKja5 */;
  font-size: 14px;
}
.root .link__g9XbU:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__dtYAe {
  position: relative;
  color: #666666 /* plasmic-token: Rdf3adOtKja5 */;
  font-size: 14px;
}
.root .link__dtYAe:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__vgM60 {
  position: relative;
  color: #666666 /* plasmic-token: Rdf3adOtKja5 */;
  font-size: 14px;
}
.root .link__vgM60:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__nn6VE {
  position: relative;
  color: #666666 /* plasmic-token: Rdf3adOtKja5 */;
  font-size: 14px;
}
.root .link__nn6VE:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__ghLu {
  position: relative;
  color: #666666 /* plasmic-token: Rdf3adOtKja5 */;
  font-size: 14px;
}
.root .link__ghLu:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__zkvBx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
}
.freeBox__zkvBx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__zkvBx > :global(.__wab_flex-container) > *,
.freeBox__zkvBx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zkvBx > :global(.__wab_flex-container) > picture > img,
.freeBox__zkvBx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox___9BJdn {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.freeBox__p1Lf2 {
  position: relative;
  font-size: 14px;
  color: #666666 /* plasmic-token: Rdf3adOtKja5 */;
}
.freeBox__ogCc8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 0;
  border-radius: 5px;
  border: 1px solid rgb(228, 230, 235) /* plasmic-token: 4QM1pZKqI */;
}
.textbox {
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-width: 0px;
}
.freeBox__map29 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 1px;
  height: 16px;
  background: rgb(228, 230, 235);
  flex-shrink: 0;
}
.button {
  position: relative;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 1px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  border-style: none;
}
.svg__tevv {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
  flex-shrink: 0;
}
.freeBox__jeFiy {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: bXVk6K6GGqsr */;
}
.freeBox__bZpii {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__bZpii > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bZpii {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bZpii > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bZpii > :global(.__wab_flex-container) > *,
  .freeBox__bZpii > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bZpii > :global(.__wab_flex-container) > picture > img,
  .freeBox__bZpii
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__juzye {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__dqb1 {
  position: relative;
  color: #666666 /* plasmic-token: Rdf3adOtKja5 */;
  height: auto;
  font-size: 14px;
}
.root .link__dqb1:hover {
  text-decoration-line: underline;
}
.link__uGoX {
  position: relative;
  color: #666666 /* plasmic-token: Rdf3adOtKja5 */;
  font-size: 14px;
}
.root .link__uGoX:hover {
  text-decoration-line: underline;
}
.freeBox__dRhH {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: #666666 /* plasmic-token: Rdf3adOtKja5 */;
  display: inline-block;
}
.freeBox___7Jlsk {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___7Jlsk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___7Jlsk > :global(.__wab_flex-container) > *,
.freeBox___7Jlsk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7Jlsk > :global(.__wab_flex-container) > picture > img,
.freeBox___7Jlsk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__pzMF:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__gFbv {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__gFbv:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__yp8Hq:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__ueVKl {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__ueVKl:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__wPqr:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__m17Hv {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__m17Hv:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
