.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.freeBox__y95Se {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-right: 16px;
  padding-left: 16px;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox___1IusX {
  width: 100%;
  height: auto;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.freeBox___1IusX > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox___1IusX > :global(.__wab_flex-container) > *,
.freeBox___1IusX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1IusX > :global(.__wab_flex-container) > picture > img,
.freeBox___1IusX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.section__qbhZ3:global(.__wab_instance) {
  position: relative;
}
.freeBox___38N8J {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox___38N8J > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___38N8J > :global(.__wab_flex-container) > *,
.freeBox___38N8J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___38N8J > :global(.__wab_flex-container) > picture > img,
.freeBox___38N8J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___38N8J {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___38N8J > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___38N8J > :global(.__wab_flex-container) > *,
  .freeBox___38N8J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___38N8J > :global(.__wab_flex-container) > picture > img,
  .freeBox___38N8J
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.freeBox__ucwje {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.freeBox__ucwje > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__ucwje > :global(.__wab_flex-container) > *,
.freeBox__ucwje > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ucwje > :global(.__wab_flex-container) > picture > img,
.freeBox__ucwje
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ucwje {
    width: 100%;
    min-width: 0;
  }
}
.text__bthbY {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
}
.text__cGp2 {
  position: relative;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
}
.featureCard__lKvP0:global(.__wab_instance) {
  position: relative;
}
.svg__kBtXz {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg___2KUqN {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__k8GC:global(.__wab_instance) {
  position: relative;
}
.svg__dRzOo {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__pc76L {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__dNmcZ:global(.__wab_instance) {
  position: relative;
}
.svg__rfMBn {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__lI2EJ {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox___0JybL {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0JybL {
    width: 100%;
    min-width: 0;
  }
}
.img__wgxLj {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__wgxLj > picture > img {
  object-fit: cover;
}
.img__wgxLj > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__axTj {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 30%;
  width: 90%;
}
.img__axTj > picture > img {
  object-fit: cover;
}
.img__axTj > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__mzwVv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 64px 0px;
}
.freeBox__sTRhD {
  display: block;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  left: 0px;
  top: 50%;
  width: 100%;
  bottom: 0%;
  height: auto;
  background: rgb(5, 5, 5);
}
.freeBox___7F0Uf {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-right: 16px;
  padding-left: 16px;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__hh62A {
  width: 100%;
  height: auto;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
}
.section__iRSa:global(.__wab_instance) {
  align-self: center;
}
.freeBox__oQbh {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 64px;
  min-width: 0;
}
.freeBox__oQbh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__oQbh > :global(.__wab_flex-container) > *,
.freeBox__oQbh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oQbh > :global(.__wab_flex-container) > picture > img,
.freeBox__oQbh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__ryfb:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__rG1O9 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: IJViPdnSV2xD */;
}
.svg__gFlew {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___3Vl4K:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__yuNu {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: IJViPdnSV2xD */;
}
.svg__y3Cfe {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___92KLt:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__l5D4B {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: IJViPdnSV2xD */;
}
.svg__l0N {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__ib3Zt:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__nx1Cx {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: IJViPdnSV2xD */;
}
.svg__yke59 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__kj8ET:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__eamFt {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: IJViPdnSV2xD */;
}
.svg__yeJlg {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___4Kg2S:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__y1K3B {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: IJViPdnSV2xD */;
}
.svg__lTWjg {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox___6MAnt {
  display: block;
  position: absolute;
  left: 50%;
  top: 95%;
  width: 2px;
  height: 88px;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: bXVk6K6GGqsr */;
}
.freeBox__oiXkx {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-right: 16px;
  padding-left: 16px;
  flex-column-gap: 0px;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__ilCiX {
  width: 100%;
  height: auto;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.freeBox__ilCiX > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__ilCiX > :global(.__wab_flex-container) > *,
.freeBox__ilCiX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ilCiX > :global(.__wab_flex-container) > picture > img,
.freeBox__ilCiX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.section___97WQk:global(.__wab_instance) {
  position: relative;
}
.freeBox__jsoGj {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__jsoGj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__jsoGj > :global(.__wab_flex-container) > *,
.freeBox__jsoGj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jsoGj > :global(.__wab_flex-container) > picture > img,
.freeBox__jsoGj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__fAg6D {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__gj4Fg {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__cq3Aw {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__joc3A {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__ek8Fk {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
