.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.freeBox__gUeLr {
  width: stretch;
  height: wrap;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
}
.freeBox__gUeLr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__gUeLr > :global(.__wab_flex-container) > *,
.freeBox__gUeLr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gUeLr > :global(.__wab_flex-container) > picture > img,
.freeBox__gUeLr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__cMu8A {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__cMu8A > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__cMu8A > :global(.__wab_flex-container) > *,
.freeBox__cMu8A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cMu8A > :global(.__wab_flex-container) > picture > img,
.freeBox__cMu8A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cMu8A {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cMu8A > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cMu8A > :global(.__wab_flex-container) > *,
  .freeBox__cMu8A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__cMu8A > :global(.__wab_flex-container) > picture > img,
  .freeBox__cMu8A
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__ggoO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.freeBox__ggoO > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__ggoO > :global(.__wab_flex-container) > *,
.freeBox__ggoO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ggoO > :global(.__wab_flex-container) > picture > img,
.freeBox__ggoO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ggoO {
    width: 100%;
    min-width: 0;
  }
}
.freeBox___1G03L {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
  text-align: left;
}
.freeBox___32Zvm {
  position: relative;
  text-align: left;
}
.bullet__oOxY:global(.__wab_instance) {
  position: relative;
}
.bullet__qvh2D:global(.__wab_instance) {
  position: relative;
}
.bullet__rpCpz:global(.__wab_instance) {
  position: relative;
}
.freeBox__tjvmd {
  position: relative;
  text-align: left;
}
.freeBox__d46M {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__d46M > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__d46M > :global(.__wab_flex-container) > *,
.freeBox__d46M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d46M > :global(.__wab_flex-container) > picture > img,
.freeBox__d46M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__d46M {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__d46M > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__d46M > :global(.__wab_flex-container) > *,
  .freeBox__d46M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__d46M > :global(.__wab_flex-container) > picture > img,
  .freeBox__d46M
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__duphb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__duphb {
    width: 100%;
    min-width: 0;
  }
}
.img__aont {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__aont > picture > img {
  object-fit: cover;
}
.img__aont > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__ogvPh {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 30%;
  width: 90%;
}
.img__ogvPh > picture > img {
  object-fit: cover;
}
.img__ogvPh > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__uoad1 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__uoad1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__uoad1 > :global(.__wab_flex-container) > *,
.freeBox__uoad1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uoad1 > :global(.__wab_flex-container) > picture > img,
.freeBox__uoad1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uoad1 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uoad1 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uoad1 > :global(.__wab_flex-container) > *,
  .freeBox__uoad1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__uoad1 > :global(.__wab_flex-container) > picture > img,
  .freeBox__uoad1
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__hmwPh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hmwPh {
    width: 100%;
    min-width: 0;
  }
}
.img__jrumd {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__jrumd > picture > img {
  object-fit: cover;
}
.img__jrumd > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__bHmIn {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 30%;
  width: 90%;
}
.img__bHmIn > picture > img {
  object-fit: cover;
}
.img__bHmIn > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___2KsO8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.freeBox___2KsO8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox___2KsO8 > :global(.__wab_flex-container) > *,
.freeBox___2KsO8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2KsO8 > :global(.__wab_flex-container) > picture > img,
.freeBox___2KsO8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2KsO8 {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__jxOxx {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
  text-align: left;
}
.freeBox__csy2 {
  position: relative;
  text-align: left;
}
.bullet__dTkW2:global(.__wab_instance) {
  position: relative;
}
.bullet__gBmMn:global(.__wab_instance) {
  position: relative;
}
.bullet__xyLm0:global(.__wab_instance) {
  position: relative;
}
.freeBox__bgiRu {
  position: relative;
  text-align: left;
}
.freeBox___81LFf {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.freeBox___81LFf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___81LFf > :global(.__wab_flex-container) > *,
.freeBox___81LFf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___81LFf > :global(.__wab_flex-container) > picture > img,
.freeBox___81LFf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___81LFf {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___81LFf > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___81LFf > :global(.__wab_flex-container) > *,
  .freeBox___81LFf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___81LFf > :global(.__wab_flex-container) > picture > img,
  .freeBox___81LFf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
