.root {
  display: flex;
  width: 352px;
  height: 195px;
  position: relative;
  flex-direction: column;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.12),
    0px 10px 10px -5px rgba(0, 0, 0, 0.02);
  background: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 20px;
  border: 1px solid rgb(240, 242, 245) /* plasmic-token: L89ExH6ks */;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 10px;
}
.root__long {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.root__long > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root__long > :global(.__wab_flex-container) > *,
.root__long > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root__long > :global(.__wab_flex-container) > picture > img,
.root__long
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
  margin-top: 0px;
}
.freeBox__fa9Pd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 32px;
}
.freeBox___2Y8Es {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  background: rgb(23, 99, 207);
  flex-shrink: 0;
}
.svg__z1Szi {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}
.freeBox__rSNfM {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__rSNfM > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__rSNfM > :global(.__wab_flex-container) > *,
.freeBox__rSNfM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rSNfM > :global(.__wab_flex-container) > picture > img,
.freeBox__rSNfM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__long__rSNfM1CYus > :global(.__wab_flex-container) {
  align-items: flex-start;
}
.slotTitle {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.slotDescription {
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  text-align: center;
}
.slotDescription__long {
  text-align: left;
}
.freeBox__iyOBn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__long__iyOBn1CYus {
  width: 32px;
  height: 32px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px 0px rgb(234, 234, 234)
    /* plasmic-token: bXVk6K6GGqsr */;
  background: rgb(255, 255, 255);
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: bXVk6K6GGqsr */;
}
.svg__dSwoO {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
}
